panel
{
    align-items: center;
    justify-content: center;
    pointer-events: all;
    position: absolute;
    background-color: red;
    width: 500px;
    height: 500px;
    top: 30%;
    left: 700px;


    border-radius: 10px;
    background-color: #222 0.2;
    


    .upgrade{
        text-align: center;
        background-color: #555;
        border-radius: 5px;

        color: white;
        font-size: 45px;
        padding: 10px;
    }
}

.shopMenuOpen panel
{
    opacity: 1;
    transition: all 0.2s ease-out ;
    pointer-events: all;
}